* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.mtb-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.fc-white {
    color: white;
}

.container-blue {
    background-color: rgb(30, 115, 190);
}

.container-darkgrey {
    background-color: rgb(43, 43, 43);
}

.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-section {
    width: 100%;
    max-width: 750px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-hero-container {
    height: 500px;
    position: relative;
    background-image: url("images/phillyOnRiver.jpg");
    background-size: cover;
    background-position: 75% 25%;
}

@media (max-width: 425px) {
    .about-hero-container {
        height: 300px;
    }
}

.about-hero-overlay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

.about-hero {
    z-index: 10;
}

.about-hero-title {
    color: white;
    font-size: 3.2rem;
}

.about-subheader {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.about-paragraph {
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 1.3rem;
}

.about-section p:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 760px) {
    .about-subheader {
        font-size: 2.1rem;
        margin-bottom: 2rem;
    }

    .about-paragraph {
        font-size: 1.1rem;
    }
}

.section-transition {
    width: 100%;
    background-color: rgb(30, 115, 190);
    line-height: 0;
}

.whoosh {
    fill: #fff;
}

.principles-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.principle {
    background-color: rgba(240, 246, 255, 1);
    border-radius: 15px;
    padding: 20px;
}

.principle-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.principle-icon-container {
    font-size: 0;
}

.principle-icon {
    width: 24px;
}

.principle-paragraph {
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 1.3rem;
}

.principle-title {
    font-weight: 700;
    line-height: 1.3rem;
}

@media (max-width: 760px) {
    .principle-header {
        margin-bottom: 20px;
    }

    .principle-paragraph {
        font-size: 1rem;
    }
}

.projects-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.project {
    width: 47.5%;
    min-width: 310px;
    height: 450px;
    background-color: #e9e9e9;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.project-img {
    width: 100%;
    height: 80%;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.proj-1 {
    background-image: url("images/proj-1.webp");
    background-position: 50% 10%;
}

.proj-2 {
    background-image: url("images/proj-2.webp");
    background-position: 50% 10%;
}

.proj-3 {
    background-image: url("images/proj-3.webp");
    background-position: 50% 10%;
}

.proj-4 {
    background-image: url("images/proj-4.webp");
    background-position: 50% 10%;
}

.proj-5 {
    background-image: url("images/proj-5.webp");
    background-position: 50% 10%;
}

.proj-6 {
    background-image: url("images/proj-6.webp");
    background-position: 50% 10%;
}

.proj-7 {
    background-image: url("images/proj-7.webp");
    background-position: 10% 50%;
}

.proj-8 {
    background-image: url("images/proj-8.webp");
    background-position: 50% 10%;
}

.project-details {
    display: flex;
    height: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.project-details span {
    font-size: 0.9rem;
    color: #2b2b2b;
}

@media (max-width: 435px) {
    .project {
        width: 100%;
        min-width: 200px;
    }
}

.about-footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 20px;
}

.about-footer img {
    width: 40px;
}

.about-footer span {
    color: white;
}