* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

html {
    font-size: 16px;
}

@media (max-width: 900px) {
    html {
        font-size: 14px;
    }

    h1 {
        text-align: left;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 12px;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 1.3rem;
    text-align: justify;
}

.text-container {
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: rgb(236, 237, 242);
    color: #202124;
}

.mtb-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mtb-10 {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.container-blue {
    background-color: rgb(30, 115, 190);
}

.container-white {
    background-color: rgb(255, 255, 255);
}

.container-darkgrey {
    background-color: rgb(43, 43, 43);
}

.home-subheader {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.animate-up {
    opacity: 0;
    transform: translateY(20%);
    animation: slide-fade-up 1s forwards;
}

.scroll-animate {
    opacity: 0;
    /* transform: translateY(20%); */
}

.slide-up {
    animation: slide-up 1s forwards;
}

@keyframes slide-up {

    100% {
        opacity: 1;
        /* transform: translateY(0%); */
    }
}

@keyframes slide-fade-up {

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.header {
    font-size: 2.5rem;
    margin: 1.2rem;
    text-align: center;
}

.section-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    background-color: rgb(1, 28, 55);
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav-section {
    width: 100%;
    max-width: 1200px;
    height: 90px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.nav-logo-link {
    line-height: 0;
}

.nav-logo {
    width: 50px;
}

.nav-desktop {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 800px) {
    .nav-desktop {
        display: none;
    }

    .nav-logo {
        width: 45px;
    }
}

.nav-links {
    display: flex;
    color: white;
    list-style-type: none;
}

.nav-link {
    margin: 0px 10px;
}

.nav-link a {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.nav-link a:hover {
    color: rgb(11, 95, 179)
}

.nav-socials {
    display: flex;
}

.social-link {
    text-decoration: none;
    margin: 0px 5px;
    line-height: 0;
    display: block;
    padding: 5px;
}

.nav-social-icon {
    fill: white;
    width: 25px;
}

.nav-social-link:hover .nav-social-icon {
    fill: rgb(11, 95, 179);
}

.nav-mobile {
    display: none;
    justify-content: flex-end;
    flex: 1 1 0;
}


.menu-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.menu-btn:hover {
    cursor: pointer;
}

.menu-icon,
.x-icon,
.mobile-social-icon {
    width: 3rem;
    height: 3rem;
}

.nav-mobile-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 9999;
}

.hide-mobile {
    display: none;
}

.display-mobile {
    display: block;
}

.nav-mobile-menu-head {
    width: 100%;
    height: 90px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav-mobile-home-link {
    line-height: 0;
}

@media (max-width: 800px) {
    .nav-mobile {
        display: flex;
    }
}



.nav-mobile-links {
    list-style-type: none;
}

.mobile-link-container {
    border-bottom: 1px solid #efefef;
}

.mobile-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    font-size: 1.4rem;
    text-decoration: none;
}

.link-icon {
    width: 2rem;
}

.link-main {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mobile-social-links {
    display: flex;
    gap: 2rem;
    padding: 2rem 1rem;
}

.section-spaced {
    padding: 3.6rem 0;
}

.section {
    width: 100%;
    max-width: 750px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-large {
    width: 100%;
    max-width: 1200px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-panel-container {
    width: 100%;
    display: flex;
    gap: 75px;
    text-align: left;
    margin-top: 1.2rem;
}

@media (max-width: 1020px) {
    .section {
        padding: 0 1rem;
    }

    .section-panel-container {
        flex-direction: column;
        gap: 25px;
    }

    .section-panel-container:first-of-type {
        margin-top: 2.4rem;
    }
}


/* Video Background CSS Starts */

#background-video {
    width: 100%;
    height: calc(100vh - 90px);
    object-fit: cover;
    position: absolute;
}

.video-overlay {
    width: 100%;
    height: calc(100vh - 90px);
    object-fit: cover;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width:765px) {

    #background-video,
    .video-overlay {
        display: none;
    }
}

/* Video Background CSS Ends */

.banner {
    height: calc(100vh - 90px);
    margin-top: 90px;
    background-color: rgb(30, 115, 190);
}

.banner-logo {
    height: 120px;
}

@media (max-width: 900px) {
    .banner-logo {
        height: 90px;
    }
}

.banner-header {
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #d4d4d4;
}

.chevron-down {
    margin-top: 16px;
    animation: fadeSlideIn 1.8s ease-out infinite;
}

@keyframes fadeSlideIn {
    from {
        transform: translateY(20px);
        opacity: 100%;
    }

    to {
        transform: translateY(0);
        opacity: 0;
    }
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.portfolio-overlay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}

.portfolio {
    height: 500px;
    position: relative;
    background-image: url("images/phillyNeighborhood.jpg");
    background-size: cover;
    background-position: 75% 25%;
}

.portfolio-overlay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.portfolio-btn {
    background-color: #fff;
    color: #2b2b2b;
    position: relative;
}



/* Meet our Team Panels CSS Starts */

.section-panel {
    flex: 1 1 0;
    background-color: rgba(240, 246, 255, 1);
    border-radius: 15px;
    padding: 20px;
}

.panel-header {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #e7eaef;
}

.row-reverse {
    flex-direction: row-reverse;
    text-align: right;
}

@media (max-width: 1020px) {
    .row-reverse {
        flex-direction: row;
        text-align: left;
    }
}

.headshot {
    height: 200px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

@media (max-width: 900px) {
    .headshot {
        height: 150px;
    }
}

@media (max-width: 370px) {
    .headshot {
        height: 100px;
    }
}

.panel-title {
    font-weight: 700;
    line-height: 1.3rem;
    margin-bottom: 0;
}

.panel-icon-container {
    margin-top: 4px;
}

.panel-icon-link {
    display: inline-block;
    line-height: 0;
    padding: 3px;
}

.panel-social-icon {
    width: 2rem;
    height: 2rem;
}

.link-adj {
    transform: translateX(-3px);
}

.link-adj-dynamic {
    transform: translateX(3px);
}

@media (max-width: 1020px) {
    .link-adj-dynamic {
        transform: translateX(-3px);
    }
}


/* Meet our Team Panels CSS Ends */




.contact-btn {
    background-color: #fff;
    color: #2b2b2b;
}

.contact-btn:hover {
    cursor: pointer;
}

.home-footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 20px;
}

.home-footer img {
    width: 40px;
}

.home-footer span {
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem 0;
    background-color: #2b2b2b;
}

.footer img {
    width: 40px;
}

.footer span {
    color: white;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



/* Contact Us CSS Starts */

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.contact-hero-container {
    margin-top: 90px;
    height: 500px;
    position: relative;
    background-image: url("images/phillySunSet.jpg");
    background-size: cover;
    background-position: 75% 25%;
}

.contact-hero-overlay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.contact-section {
    width: 100%;
    max-width: 1024px;
    margin: 3rem 0;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.contact-section-subheader {
    font-size: 2.1rem;
    margin-bottom: 1rem;
}

.contact-section-msg {
    font-size: 1rem;
    margin-bottom: 4rem;
}

.contact-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-method-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 950px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .contact-method-container {
        width: 100%;
    }
}

.contact-method {
    width: 50%;
    padding: 20px 5px;
}

@media (max-width: 950px) {
    .contact-method {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-detail {
        text-align: center;
    }
}

.contact-method-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 15px;
}

.contact-title {
    margin-left: 8px;
}

.contact-icon,
.contact-icon a svg {
    width: 1.5rem;
    fill: #333;
    line-height: 0;
}

.contact-title h3 {
    font-size: 1.3rem;
    font-weight: 800;
}

.social-contacts-container {
    display: flex;
    gap: 10px;
}

.contact-form {
    width: 40%;
    display: flex;
    justify-content: center;
}

@media (max-width: 950px) {
    .contact-form {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .contact-form {
        width: 100%;
    }
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 15px;
}

.form-section label {
    font-size: .8rem;
}

.form-section input,
.form-section textarea {
    border: 1px solid #333;
    border-radius: 3px;
}

.form-section textarea {
    height: 100px;
}

.form-submit {
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 10px 0px;
}

@media (max-width: 425px) {
    .contact-hero-container {
        height: 300px;
    }
}

.contact-hero-title {
    color: white;
    font-size: 3.2rem;
}


/* Contact Us CSS Ends */

/* page hero banner CSS */

.page-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-section {
    width: 100%;
    max-width: 750px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-hero-container {
    margin-top: 90px;
    height: 500px;
    position: relative;
    background-size: cover;
    background-position: 75% 25%;
}

.team-hero-container {
    background-image: url("images/phillyFromAbove.jpg");
}

.portfolio-hero-container {
    background-image: url("images/phillySkyline.jpg");
}

.press-hero-container {
    background-image: url("images/phillyBridge.jpg");
}

@media (max-width: 425px) {
    .page-hero-container {
        height: 300px;
    }
}

.page-hero-overlay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.page-hero {
    z-index: 10;
}

.page-hero-title {
    color: white;
    font-size: 3.2rem;
}

/* In the Press CSS */

.press-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.press-link {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 15px;
}

.press-link:hover {
    cursor: pointer;
}

.press-item img {
    height: 400px;
}

@media (max-width:768px) {
    .press-item img {
        height: 300px;
    }
}

@media (max-width:600px) {
    .press-container {
        width: 100%;
    }
}

@media (max-width:460px) {
    .press-item img {
        height: auto;
        width: 100%;
    }
}


/* Portfolio CSS */

.slideshow-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgray;
}

.slide {
    display: none;
    width: 80%;
    height: 250px;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}